.component8 {
  .titleblur {
    margin-bottom: 80px;
  }
  h5 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .footnote {
    margin-top: 40px;
    small, h6 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
