#topnavbar{
	position: fixed;
	width: 100%;
	background-color: $dark-grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
  z-index: 9999;
	&.open {
		.navbar-links {
			display: flex;
		}
		.navbar-toggle-open {
			display: none;
		}
		.navbar-toggle-close {
			display: block;
		}
	}

	.navbar {
		position: static;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		@media only screen and (max-width: 992px) {
			height: auto;
			flex-direction: column;
			align-items: flex-start;
		}
		&-logo {
			@media only screen and (max-width: 992px) {
				margin: 10px 0;
			}
		}
		&-toggle {
			display: none;
			color: white;
			@media only screen and (max-width: 992px) {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 75px;
				right: 20px;
				top: 0;
				&-close {
					display: none;
				}
			}
		}
		&-links {
			margin: 0;
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;

			@media only screen and (max-width: 992px) {
				padding-top: 35px;
			}

			.nav-link {
				padding: 0 12px;
				height: 110px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: -8px;
				@media only screen and (max-width: 992px) {
					display: block;
					height: auto;
				}
			}
			@media only screen and (max-width: 992px) {
				display: none;
				flex-direction: column;
				height: calc(100vh-75px);
				.nav-link {
					padding: 0;
				}
			}
			.nav-item {
				&--download {
					display: none;
					opacity: 0.6;
					h6 {
						color: $white;
					}
					@media only screen and (max-width: 992px) {
						display: block;
					}
				}
			}
			h6{
				font-size: 18px;
				line-height: 48px;
				color: $white;
				@media only screen and (max-width: 992px) {
					color: rgba(255,255,255,0.6);
				}
			}
			h6:hover{
				text-decoration: underline;
				color: $blue;
			}
			#approach-link:hover #submenu-content {
				display: block;
			   }
			#submenu-content{
				@media only screen and (max-width: 992px) {
					display: block;
					position: static;
					padding: 0;
					width: 100%;
				}
				padding-top: 80px;
				width: 100vw;
			 	display: none;
				position: absolute;
				background-color: $dark-grey;
				left: 0;
				top: 110px;
				z-index: 1;
				transition: 0.3s;
				.planet-menu{
					border-right: 1px solid $white;
					@media only screen and (max-width: 992px) {
						border-right: 0px;
					}
				}
				ul{
					list-style-type: none;
					padding: 30px 70px 0 70px;
					@media only screen and (max-width: 992px) {
						padding: 0;
						padding-right: 20px;
						.nav-item {
							&[data-color="orange"] {
								h6 {
									color: $orange;
								}
							}
							&[data-color="blue"] {
								h6 {
									color: $blue;
								}
							}
							&[data-color="green"] {
								h6 {
									color: $green;
								}
							}
							&[data-color="yellow"] {
								h6 {
									color: $yellow;
								}
							}
							&[data-color="purple"] {
								h6 {
									color: $purple;
								}
							}
						}
					}
					.nav-link {
				    padding: 10px 0px;
						height: auto;
						margin: 0;
						display: block;
						h6 {
							@media only screen and (max-width: 992px) {
								font-weight: 300;
							}
						}
					}
					h6{
						line-height: 18px;
					}
					h6, small{
						color: rgba(255,255,255,0.6);
						@media only screen and (max-width: 992px) {
							color: $white;
						}
					}
					small:hover{
						color: $white;
					}
				}
				.white{
					color: $white;
				}
			}
			#submenu-footer{
				@media only screen and (max-width: 992px) {
					display: none;
				}
				max-width: 465px;
				margin: 0 auto;
				padding: 100px 0 45px 0;
				ul{
				margin: 0;
				padding: 0px 0px 0 0px;
				width: 60%;
				display: flex;
				.nav-item {
					margin-right: 50px;
				}
					&.navbar-footer-right {
						padding-left: 40px;
						width: 40%;
					}
				}
				small{
					font-size: 14px;
					color: $white;
				}
			}
		}
		&-search {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;
			color: white;
			.nav-link {
				width: 50px;
				padding: 0;
				text-align: right;
			}
			@media only screen and (max-width: 992px) {
				display: none;
			}
		}
		&-download {
			width: 64px;
			padding: 0 16px;
			display: block;
			border-left: 1px solid white;
			height: 110px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media only screen and (max-width: 992px) {
				display: none;
			}
		}
	}
	.submenu-caption {
		position: absolute;
		left: 0;
		width: 30%;
		display: flex;
		justify-content: center;
		@media only screen and (max-width: 992px) {
			display: none !important;
		}
		&-block {
			display: none;
			transition: 0.3s;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		h5 {
			color: white;
		}
	}
	.bg-blue {
		.blue {
			display: flex;
		}
	}
	.bg-green {
		.green {
			display: flex;
		}
	}
	.bg-orange{
		.orange {
			display: flex;
		}
	}
	.bg-yellow {
		.yellow {
			display: flex;
		}
	}
	.bg-purple {
		.purple {
			display: flex;
		}
	}
}
